header{
    background-color:#0D0D0D;;
    width: 100%;
    max-width: 100%;
    border: none;
    padding: 20px 2vw 4vb;
    left: 0;
    box-sizing: border-box;
}

.texto-navbar{
    color: #6AD99A;
    text-decoration: none;
    padding: 2px 2vw;
}

.logo{
    text-align: left;
    width: 50px
}
/* Color Theme Swatches in Hex */
.Diseño-gráfico-1-hex { color: #6AD99A; }
.Diseño-gráfico-2-hex { color: #5EBF88; }
.Diseño-gráfico-3-hex { color: #458C64; }
.Diseño-gráfico-4-hex { color: #737373; }
.Diseño-gráfico-5-hex { color: #0D0D0D; }
